@{
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Layout Page</title>
    </head>
    <body>
        This is the layout area.
        <br />
        @RenderBody()
    </body>
    </html>
}
