@{
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index2</title>
    </head>
    <body>
        <div>
            @ViewBag.value1
        </div>
        <div>
            @ViewBag.value2
        </div>
        <div>
            @ViewBag.value3
        </div>
    </body>
    </html>
}
